{% extends 'base.html' %}

{% block content %}
    <h1 align = 'center'> <b>Admin mode</b></h1>

{% if furniture_list %}
  <table align = "center" class="table" style="width: 100%">
    <thead align="center" class="thead-dark">
      <tr align = "center">
        <th scope="col" style="width: 5%;">id</th>
        <th scope="col" style="width: 10%;">datetime</th>
        <th scope="col" style="width: 10%;">price</th>
        <th scope="col" style="width: 5%;">link</th>
        <th scope="col" style="width: 55%;">description</th>
        <th scope="col" style="width: 15%;"></th>
      </tr>
    </thead>
    <tbody align = "center" >
      {% for furniture in furniture_list %}
        <tr>
          <th scope="row">{{ furniture.id }}</th>
          <td>{{ furniture.parse_datetime }}</td>
          <td>
              <input id="number" type="number" value="{{ furniture.price }}" />
          </td>
          <td scope="col">
              <a href = "{{ furniture.link }}">origin link</a>
          </td>
          <td align = "center">
              <div align = "center" class="col-md-4 mb-3">
                  <textarea class="form-control" id="exampleFormControlTextarea1" cols = "100" rows="3">{{ furniture.description }}
                  </textarea>
              </div>
          </td>
          <td>
            <button type="button" class="btn btn-success">|    save    |</button>
            <button type="button" class="btn btn-danger">delete</button>
          </td>
        </tr>
      {% endfor %}

    </tbody>
  </table>
{% else %}
    <h2>Sorry, no furniture</h2>
{% endif %}

{% endblock %}

