{% extends 'base.html' %}

{% block content %}
    <h1 align = 'center'> <b>Admin mode</b></h1>

{% if user.is_authenticated  %}
    {% if furniture_list %}
      <table align = "center" class="table" >
        <thead align="center" class="thead-dark">
          <tr align = "center">
            <th scope="col" >id</th>
            <th scope="col">datetime</th>
            <th scope="col" >price</th>
            <th scope="col" >link</th>
            <th scope="col" >description</th>
            <th scope="col" >form</th>
            <th scope="col" >correction</th>
          </tr>
        </thead>
        <tbody align = "center" >

          {% for furniture in furniture_list %}
            <tr>
              <th scope="row">{{ furniture.id }}</th>
              <td>{{ furniture.parse_datetime }}</td>
              <td>
                  {{ furniture.price }}
              </td>
              <td scope="col">
                  <a href = "{{ furniture.link }}">origin link</a>
              </td>
              <td align = "center">
                {{ furniture.description }}
              </td>
              <td>
                  <form action="{% url 'update_item' furniture.id %}" method="post">
                    {% csrf_token %}
                    {{ form.as_p }}
                    <button type="submit" class="btn btn-success">save</button>
                  </form>
              </td>
              <td>
                  <form action="{% url 'delete_item' furniture.id %}" method="post">
                    {% csrf_token %}
                    <button type="submit" class="btn btn-danger">delete</button>
                  </form>
              </td>

            </tr>
          {% endfor %}

        </tbody>
      </table>
    {% else %}
        <h2>Sorry, no furniture</h2>
    {% endif %}
{% else %}
    <form method="post">
        {% csrf_token %}
        <button type="submit" class="btn btn-success">Log in</button>
    </form>
{% endif %}

{% endblock %}

