{% extends 'base.html' %}

{% block content %}
<h1 align = 'center'> Yallo Hauheni </h1>
  <table class="table">
    <thead class="thead-dark">
      <tr align="center">
        <th scope="col">id</th>
            <th scope="col">price</th>
        <th scope="col">description</th>
      </tr>
    </thead>
    <tbody align="center">
        <tr>
          <th scope="row">{{ item.id }}</th>
            <td>{{ item.price }}</td>
          <td><a href="{{item.link}}"> {{ item.description }}</a></td>
        </tr>
    </tbody>
  </table>
{% endblock %}

